@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Liu+Jian+Mao+Cao|Muli:300,300i,400,400i,800,800i&display=swap');

/* FONTS 
Titles: Fugaz One, Georgia, Monospace
Accents: Jian Mao Cao, Verdana, Cursive
Text: Muli, Verdana, Sans-serif /*

/* COLOURS
Light Grey #da9688 RGB(218,150,136)
Dark Grey #3b2c27 RGB(59,44,39)
Light Blush #e4cbc6 RGB(228,203,198)
Dark Blush #c39b93 RGB(195,155,147)
Dark Chocolate #553F3A (85,63,58)
Strong Peach #bf8377 RGB(191,131,119)
Strong Wine #742f40 RGB(116,47,64)
Strong Lilac #bAb3db 

Strong Lilac #bab3db RGB(186,179,219) */

body {
    margin: 0px;
    background-color: #e4cbc6;
}
h1 {
    color: #bf8377;
    font-family: 'Fugaz One', Georgia, Monospace;
    font-size: 60px;
}
h2 {
    color: #742f40;
    font-family: 'Fugaz One', Georgia, Monospace;
}
h3{
    color: #553f3A;
    font-family: 'Fugaz One', Georgia, Monospace;
}
h4 {
    color: #742f40;
    font-family: 'Fugaz One', Georgia, Monospace;
}
p {
    color: #3b2c27;
    font-family: 'Muli', Verdana, Sans-serif;
    font-size: 16px;
}
/* id created to make heart red */
#red-heart{
    color: #742f40;
}
footer {
    background-color: #bf8377;
}
nav {
    background-color: #bf8377;
}
/* navigation menu */
nav a {
    outline: none; 
    text-decoration: none;
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 18px;
}
a:link {
    color: #3b2c27;
}
a:visited {
    color:  #3b2c27;
}
a:focus {
    color: #bf8377;
}
a:hover {
    color: #742f40;
}
a:active {
    color: RGBA(191,131,119,0.5);
}

/* footer menu */
footer a {
    outline: none; 
    text-decoration: none;
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 18px;
}
a:link {
    color: #3b2c27;
}
a:visited {
    color:  #3b2c27;
}
a:focus {
    color: #bf8377;
}
a:hover {
    color: #742f40;
}
a:active {
    color: RGBA(191,131,119,0.5);
}
/* favorite recipes button */
/* added span class to html for future use of buttons */
.button {
    outline: none;
    text-decoration: none;
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 18px;
    background-color: #bab3db;
    border-radius: 3px;
}
button:link {
    color: #3b2c27;
}
button:visited {
    color: #3b2c27;
}
button:focus {
    color: #553f3a;
}
button:hover {
    color: #742f40;
}
button:active {
    color: #742f40;
    background-color: RGBA(186,179,219,0.5)
}
/* styling space between lines in lists */
ol, ul { 
    font-family: 'Muli', Verdana, Sans-serif;
    font-size: 16px;
    line-height: 2;
}
/* styling measurement table */
table, th, td {
    border: 1px solid #3b2c27;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Muli', Verdana, Sans-serif;
}
th {
    background-color: #bf8377;
    color: #742f40;
}
tr:nth-child(even) {
    background-color: #e4cbc6;
}
/* styling hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url("../images/paprika_with_aubergine_1920x1259-01.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.center {
    text-align: center;
}
section div+h1{
    padding-top: 40%;
}
/* styling round images on homepage */
.roundimg {
    border-radius: 50%;
}
.fr-link-div-1 {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: url("../images/overnight_oats_by_ella_olsson_unsplash.jpg");
    background-size: contain;
}
.fr-link-div-2 {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: url("../images/spaghetti_carbonara_by_wow_phochiangrak_pixabay.jpg");
    background-size: contain;
}
.fr-link-div-3 {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: url("../images/chocolate_cookies_by_corleto_unsplash.jpg");
    background-size: contain;
}
.fr-h4-center{ 
    opacity: 0%;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 0px;
}
.roundimg:hover {
    color: rgb(0,0,0,0.5);
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #742f40;
}
.roundimg h4 {
    opacity: 0%;
}

