@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Liu+Jian+Mao+Cao|Muli:300,300i,400,400i,800,800i&display=swap');

/* FONTS 
Titles: Fugaz One, Georgia, Monospace
Accents: Jian Mao Cao, Verdana, Cursive
Text: Muli, Verdana, Sans-serif /*

/* COLOURS
Light Grey #da9688 RGB(218,150,136)
Dark Grey #3b2c27 RGB(59,44,39)
Light Blush #e4cbc6 RGB(228,203,198)
Dark Blush #c39b93 RGB(195,155,147)
Dark Chocolate #553F3A (85,63,58)
Strong Peach #bf8377 RGB(191,131,119)
Strong Wine #742f40 RGB(116,47,64)
Strong Lilac #bAb3db 

Strong Lilac #bab3db RGB(186,179,219) */

body {
    margin: 0px;
    background-color: #e4cbc6;
}
h1 {
    color: #742f40;
    font-family: 'Fugaz One', Georgia, Monospace;
    font-size: 60px;
}
h2 {
    color: #3b2c27;
    font-family: 'Fugaz One', Georgia, Monospace;
    margin: 0px;
}
h3{
    color: #3b2c27;
    font-family: 'Fugaz One', Georgia, Monospace;
    margin: 0px;
}
h4 {
    color: #742f40;
    font-family: 'Fugaz One', Georgia, Monospace;
    margin: 0px;
}
h5 {
    color: #3b2c27;
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin: 0px;
}
p {
    color: #3b2c27;
    font-family: 'Muli', Verdana, Sans-serif;
    font-size: 16px;
}
/* text alignment */
.center {
    text-align: center;
}
.left {
    text-align: left;
    margin-left: 1%;
}
.right {
    text-align: right;
}
/* id created to make heart red */
#red-heart{
    color: #742f40;
}
nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #bf8377;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
/* navigation menu */
nav a {
    outline: none; 
    text-decoration: none;
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 18px;
}
a:link {
    color: #3b2c27;
}
a:visited {
    color:  #3b2c27;
}
a:focus {
    color: #bf8377;
}
a:hover {
    color: #742f40;
}
a:active {
    color: RGBA(191,131,119,0.5);
}
.nav-flex {
    display: flex;
    flex-direction: row;
}
.nav-logo {
    flex: 1 50px;
}
.nav-link {
    flex: 1 50px;
}
.nav-login {
    flex: 1 50px;
    padding-left: 50px;
}
/* styling footer */
footer {
    background-color: #bf8377;
    padding-top: 2%;
    padding-bottom: 1%
}
.footer-some {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
}
.some {
    padding-left: 20px;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
}
.f-link {
    padding-left: 20px;
    margin-bottom: 1%;
}
/* footer menu */
footer a {
    outline: none; 
    text-decoration: none;
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 18px;
}
a:link {
    color: #3b2c27;
}
a:visited {
    color:  #3b2c27;
}
a:focus {
    color: #bf8377;
}
a:hover {
    color: #742f40;
}
a:active {
    color: RGBA(191,131,119,0.5);
}
/* favorite recipes button */
/* added span class to html for future use of buttons */
.button {
    outline: none;
    text-decoration: none;
    font-family: 'Muli', Verdana, Sans-serif;
    font-weight: 800;
    font-size: 18px;
    background-color: #bab3db;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5%;
}
button:link {
    color: #3b2c27;
}
button:visited {
    color: #3b2c27;
}
button:focus {
    color: #553f3a;
}
button:hover {
    color: #742f40;
}
button:active {
    color: #742f40;
    background-color: RGBA(186,179,219,0.5)
}
/* styling space between lines in lists */
ol, ul { 
    font-family: 'Muli', Verdana, Sans-serif;
    font-size: 16px;
    line-height: 2;
}
/* styling measurement table */
table, th, td {
    border: 1px solid #3b2c27;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Muli', Verdana, Sans-serif;
}
th {
    background-color: #bf8377;
    color: #742f40;
}
tr:nth-child(even) {
    background-color: #e4cbc6;
}
/* styling hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url("../images/strawberry_ice_cream.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section div+h1{
    padding-top: 40%;
}
/* styling round images on homepage */
.fr-link-div-1 {
    display: inline-block;
    flex: 1 50px;
    width: 300px;
    height: 300px;
    background-image: url("../images/overnight_oats_by_ella_olsson_unsplash.jpg");
    background-size: contain;
    border-radius: 50%;
}
.fr-link-div-2 {
    display: inline-block;
    flex: 1 50px;
    width: 300px;
    height: 300px;
    background-image: url("../images/spaghetti_carbonara_by_wow_phochiangrak_pixabay.jpg");
    background-size: contain;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
}
.fr-link-div-3 {
    display: inline-block;
    flex: 1 50px;
    width: 300px;
    height: 300px;
    background-image: url("../images/chocolate_cookies_by_corleto_unsplash.jpg");
    background-size: contain;
    border-radius: 50%;
}
.fr-h4 { 
    display: none;
    text-align: center;
    position: relative;
    top: 30%;
    margin: 0px;
}
.fr-h4:hover {
    display: inline-block;
}
.fr-link-div-1:hover {
    opacity: 50%;
}
.fr-link-div-2:hover {
    opacity: 50%;
}
.fr-link-div-3:hover {
    opacity: 50%;
}
/* styling recipes of the month - rotm */
.rotm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
    margin: auto;
}
.s-rotm {
    margin: 8%;
}
/* styling favorite recipes page - fr */
.fr-h1 {
    padding-top: 150px;
}
.fr-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70%;
}
.fr-block-h4 {
    padding-top: 20px;
}
.fr-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.fr-block {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex: 1 50px;
    max-width: 400px;
    width: 50%;
    height: auto;
    padding: 50px;
}
.pbwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 5%;
}
.pb-h1 {
    padding-top: 15%;
}
.iframe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 50%;
}
